name: docker

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Determine metadata ghcr.io/gw0/docker-claude-code
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/gw0/docker-claude-code
          labels: |
            org.opencontainers.image.title=gw0/docker-claude-code
            org.opencontainers.image.description=Containerized Claude Code Docker image

      - name: Build and push ghcr.io/gw0/docker-claude-code
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Prune old ghcr.io/gw0/docker-claude-code:pr-*
        uses: vlaurin/action-ghcr-prune@v0.6.0
        continue-on-error: true
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          organization: gw0
          container: docker-claude-code
          keep-younger-than: 15 # days
          keep-last: 2
          prune-untagged: true
          prune-tags-regexes: ^pr-
